<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFindStringSharing</key>
	<true/>
	<key>AllowUnlimitedUndo</key>
	<true/>
	<key>AlternateRowColors</key>
	<true/>
	<key>AutoSaveInterval</key>
	<real>60</real>
	<key>AutoUseDefinitions</key>
	<true/>
	<key>BrowserFindOptions</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>invertFoundFileSet</key>
		<integer>0</integer>
		<key>searchKind</key>
		<integer>2</integer>
		<key>searchScope</key>
		<integer>1</integer>
		<key>topLevelOnly</key>
		<integer>0</integer>
	</dict>
	<key>BWRegistrationLostCodeURL</key>
	<string>https://www.fatcatsoftware.com/lost_license/</string>
	<key>colorXMLTags</key>
	<true/>
	<key>jsonSaveHumanReadable</key>
	<false/>
	<key>jsonDisplayHumanReadable</key>
	<true/>
	<key>DefaultPlistFormat</key>
	<integer>100</integer>
	<key>DefaultPlistType</key>
	<integer>6</integer>
	<key>definitionFileExtensions</key>
	<dict>
		<key>ibclassdescription</key>
		<string>com.apple.xcode.plist.structure-definition.interface-builder.class-description</string>
		<key>scriptSuite</key>
		<string>com.apple.xcode.plist.structure-definition.script-suite</string>
		<key>scriptTerminology</key>
		<string>com.apple.xcode.plist.structure-definition.script-terminology</string>
		<key>xctxtmacro</key>
		<string>com.fatcatsoftware.xcode-macro</string>
	</dict>
	<key>definitionFileNames</key>
	<dict>
		<key>AlbumData.xml</key>
		<string>com.fatcatsoftware.iphoto-album-data</string>
		<key>com.apple.Xcode.plist</key>
		<string>com.fatcatsoftware.xcode-preferences</string>
		<key>Info.plist</key>
		<string>com.apple.xcode.plist.structure-definition.info-plist</string>
		<key>iTunes Library.xml</key>
		<string>com.fatcatsoftware.itunes-music-library</string>
		<key>iTunes Music Library.xml</key>
		<string>com.fatcatsoftware.itunes-music-library</string>
		<key>Schema.plist</key>
		<string>com.fatcatsoftware.sync-schema</string>
	</dict>
	<key>enableAutoCompletion</key>
	<true/>
	<key>FileBrowserConfiguration</key>
	<dict>
		<key>sortDescriptors</key>
		<array>
			<dict>
				<key>ascending</key>
				<true/>
				<key>class</key>
				<string>NSSortDescriptor</string>
				<key>key</key>
				<string>filename</string>
				<key>selector</key>
				<string>caseInsensitiveCompare:</string>
			</dict>
		</array>
		<key>tableColumns</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>Filename</string>
				<key>properties</key>
				<dict>
					<key>width</key>
					<integer>250</integer>
				</dict>
			</dict>
			<dict>
				<key>identifier</key>
				<string>ModificationDate</string>
				<key>properties</key>
				<dict>
					<key>width</key>
					<integer>160</integer>
				</dict>
			</dict>
			<dict>
				<key>identifier</key>
				<string>Parent</string>
				<key>properties</key>
				<dict>
					<key>width</key>
					<integer>120</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>MaxUndoLevels</key>
	<integer>20</integer>
	<key>PlistDocumentAutoSyncText</key>
	<true/>
	<key>PlistDocumentSyncButtonsVisible</key>
	<true/>
	<key>PrefsActiveTabIndex</key>
	<integer>0</integer>
	<key>PrefsBrowserConfiguration</key>
	<dict>
		<key>sortDescriptors</key>
		<array>
			<dict>
				<key>ascending</key>
				<true/>
				<key>class</key>
				<string>NSSortDescriptor</string>
				<key>key</key>
				<string>filename</string>
				<key>selector</key>
				<string>caseInsensitiveCompare:</string>
			</dict>
		</array>
		<key>tableColumns</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>Filename</string>
				<key>properties</key>
				<dict>
					<key>width</key>
					<integer>338</integer>
				</dict>
			</dict>
			<dict>
				<key>identifier</key>
				<string>Application</string>
				<key>properties</key>
				<dict>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>PrefsBrowserShowSystemPrefsKey</key>
	<false/>
	<key>PrefsBrowserShowUnknownApps</key>
	<true/>
	<key>savedFileBrowsers</key>
	<dict>
		<key>Example: Automator Actions</key>
		<dict>
			<key>browserItems</key>
			<array>
				<string>/System/Library/Automator</string>
			</array>
			<key>columnConfiguration</key>
			<dict>
				<key>sortDescriptors</key>
				<array>
					<dict>
						<key>ascending</key>
						<true/>
						<key>class</key>
						<string>NSSortDescriptor</string>
						<key>key</key>
						<string>Parent</string>
						<key>selector</key>
						<string>caseInsensitiveCompare:</string>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>class</key>
						<string>NSSortDescriptor</string>
						<key>key</key>
						<string>Parent</string>
						<key>selector</key>
						<string>caseInsensitiveCompare:</string>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>class</key>
						<string>NSSortDescriptor</string>
						<key>key</key>
						<string>filename</string>
						<key>selector</key>
						<string>caseInsensitiveCompare:</string>
					</dict>
				</array>
				<key>tableColumns</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>Filename</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>250</real>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>ModificationDate</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>160</real>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>Parent</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>317</real>
						</dict>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Example: Automator Actions</string>
			<key>windowFrame</key>
			<string>40 547 793 592 0 0 1920 1178 </string>
		</dict>
		<key>Example: iPhoto Themes</key>
		<dict>
			<key>browserItems</key>
			<array>
				<string>/Library/Application Support/iPhoto/Themes</string>
			</array>
			<key>columnConfiguration</key>
			<dict>
				<key>sortDescriptors</key>
				<array>
					<dict>
						<key>ascending</key>
						<true/>
						<key>class</key>
						<string>NSSortDescriptor</string>
						<key>key</key>
						<string>filename</string>
						<key>selector</key>
						<string>caseInsensitiveCompare:</string>
					</dict>
				</array>
				<key>tableColumns</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>Filename</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>250</real>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>ModificationDate</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>160</real>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>Parent</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>350</real>
						</dict>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Example: iPhoto Themes</string>
			<key>windowFrame</key>
			<string>99 459 826 469 0 0 1920 1178 </string>
		</dict>
		<key>Example: launchd agents/daemons</key>
		<dict>
			<key>browserItems</key>
			<array>
				<string>/Library/LaunchDaemons</string>
				<string>/System/Library/LaunchAgents</string>
				<string>/System/Library/LaunchDaemons</string>
				<string>/Library/LaunchAgents</string>
			</array>
			<key>columnConfiguration</key>
			<dict>
				<key>sortDescriptors</key>
				<array>
					<dict>
						<key>ascending</key>
						<true/>
						<key>class</key>
						<string>NSSortDescriptor</string>
						<key>key</key>
						<string>filename</string>
						<key>selector</key>
						<string>caseInsensitiveCompare:</string>
					</dict>
				</array>
				<key>tableColumns</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>Filename</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>250</real>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>ModificationDate</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>160</real>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>Parent</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>125</real>
						</dict>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Example: launchd agents/daemons</string>
			<key>windowFrame</key>
			<string>121 634 601 467 0 0 1920 1178 </string>
		</dict>
		<key>Example: Mail.app bundle</key>
		<dict>
			<key>browserItems</key>
			<array>
				<string>/Applications/Mail.app</string>
			</array>
			<key>columnConfiguration</key>
			<dict>
				<key>sortDescriptors</key>
				<array>
					<dict>
						<key>ascending</key>
						<true/>
						<key>class</key>
						<string>NSSortDescriptor</string>
						<key>key</key>
						<string>filename</string>
						<key>selector</key>
						<string>caseInsensitiveCompare:</string>
					</dict>
				</array>
				<key>tableColumns</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>Filename</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>250</real>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>ModificationDate</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>160</real>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>Parent</string>
						<key>properties</key>
						<dict>
							<key>width</key>
							<real>282</real>
						</dict>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Example: Mail.app bundle</string>
			<key>windowFrame</key>
			<string>87 571 758 535 0 0 1920 1178 </string>
		</dict>
	</dict>
	<key>ShowElementColumn</key>
	<true/>
	<key>sortCaseSensitive</key>
	<true/>
	<key>sortNumeric</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://www.fatcatsoftware.com/plisteditpro/profileInfo2.php</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>XMLTagColor-disabled</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=</data>
</dict>
</plist>
