<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>5</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEHMSFormatter</string>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.hms</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>HMS</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>5</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEHexNumberFormatter</string>
				<key>properties</key>
				<dict>
					<key>byteOrder</key>
					<integer>2</integer>
					<key>prepend0x</key>
					<true/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.hex-number-be</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>Hex (big-endian)</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>5</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEHexNumberFormatter</string>
				<key>properties</key>
				<dict>
					<key>byteOrder</key>
					<integer>1</integer>
					<key>prepend0x</key>
					<true/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.hex-number-le</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>Hex (little-endian)</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>2</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PETextDataFormatter</string>
				<key>properties</key>
				<dict>
					<key>encoding</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>identifier</key>
			<string>public.utf8-plain-text</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>UTF-8 String</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>2</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PETextDataFormatter</string>
				<key>properties</key>
				<dict>
					<key>encoding</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>identifier</key>
			<string>public.utf16-plain-text</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>UTF-16 String</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>2</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PETextDataFormatter</string>
				<key>properties</key>
				<dict>
					<key>encoding</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>identifier</key>
			<string>com.apple.traditional-mac-plain-text</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>MacOS Roman String</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>2</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PETextDataFormatter</string>
				<key>properties</key>
				<dict>
					<key>encoding</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.ascii-string</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>ASCII String</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>6</integer>
			<key>identifier</key>
			<string>public.plain-text</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>String</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>5</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PETimeIntervalNumberFormatter</string>
				<key>properties</key>
				<dict>
					<key>referenceDate</key>
					<date>2001-01-01T17:00:00Z</date>
					<key>useLocalTime</key>
					<true/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.time-interval-date-2001</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>Time interval date (01/01/2001)</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>5</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PETimeIntervalNumberFormatter</string>
				<key>properties</key>
				<dict>
					<key>referenceDate</key>
					<date>1904-01-01T05:00:00Z</date>
				</dict>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.time-interval-date-1904</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>Time interval date (01/01/1904)</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>5</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PETimeIntervalNumberFormatter</string>
				<key>properties</key>
				<dict>
					<key>referenceDate</key>
					<date>1970-01-01T17:00:00Z</date>
					<key>useLocalTime</key>
					<true/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.time-interval-date-1970</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>Time interval date (01/01/1970)</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEDateValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>3</integer>
			<key>identifier</key>
			<string>com.mac.bwebster.date</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Date</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>5</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PENumberFormatter</string>
				<key>properties</key>
				<dict/>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.number</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Number</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>5</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEFourCharCodeNumberFormatter</string>
			</dict>
			<key>identifier</key>
			<string>com.apple.ostype</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>OSType</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>5</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEStorageSizeFormatter</string>
				<key>properties</key>
				<dict>
					<key>format</key>
					<string>#,##0.00;0;#,##0.00</string>
				</dict>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.storagesize</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>Storage Size</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>2</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEDataFormatter</string>
				<key>properties</key>
				<dict/>
			</dict>
			<key>identifier</key>
			<string>public.data</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Data</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>2</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEAliasDataFormatter</string>
				<key>properties</key>
				<dict/>
			</dict>
			<key>identifier</key>
			<string>com.apple.alias-record</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>Alias Record</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>minimumSystemVersion</key>
		<string>10.6</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>2</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEBookmarkDataFormatter</string>
				<key>properties</key>
				<dict/>
			</dict>
			<key>identifier</key>
			<string>com.apple.bookmark</string>
			<key>infoViewControllerClassName</key>
			<string>PEBookmarkResourceValuesViewController</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>Bookmark Data</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>2</integer>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEBinaryPlistFormatter</string>
				<key>properties</key>
				<dict/>
			</dict>
			<key>identifier</key>
			<string>com.apple.binary-property-list</string>
			<key>infoViewControllerClassName</key>
			<string>PEBinaryPlistViewController</string>
			<key>isDefault</key>
			<false/>
			<key>name</key>
			<string>Binary Plist</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>0</integer>
			<key>editable</key>
			<false/>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEArrayFormatter</string>
				<key>properties</key>
				<dict/>
			</dict>
			<key>identifier</key>
			<string>public.data</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Array</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>1</integer>
			<key>identifier</key>
			<string>com.mac.bwebster.boolean</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Boolean</string>
			<key>nibName</key>
			<string>BooleanValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>4</integer>
			<key>editable</key>
			<false/>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PEDictionaryFormatter</string>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.dictionary</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Dictionary</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
	<dict>
		<key>class</key>
		<string>PEValueViewer</string>
		<key>properties</key>
		<dict>
			<key>dataType</key>
			<integer>7</integer>
			<key>editable</key>
			<false/>
			<key>formatterInfo</key>
			<dict>
				<key>class</key>
				<string>PENullFormatter</string>
			</dict>
			<key>identifier</key>
			<string>com.mac.bwebster.null</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Null</string>
			<key>nibName</key>
			<string>TextValueView</string>
		</dict>
	</dict>
</array>
</plist>
