<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A389</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Property List</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>XML File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Structure Definition</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.fatcatsoftware.xcode-structure-definition</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PEStructureDefinitionDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Xcode Structure Definition</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.dt.dvt.plug-in</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PEStructureDefinitionDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Applescript Script Suite</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.dt.document.script-suite-property-list</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Applescript Script Terminology</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.dt.document.script-terminology-property-list</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Other</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
				<string>public.directory</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>JSON File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PlistEdit Pro</string>
	<key>CFBundleHelpBookFolder</key>
	<string>PlistEditPro.help</string>
	<key>CFBundleHelpBookName</key>
	<string>PlistEdit Pro Help</string>
	<key>CFBundleIconFile</key>
	<string>PlistEditPro.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.fatcatsoftware.pledpro</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PlistEdit Pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9</string>
	<key>CFBundleSignature</key>
	<string>pEDT</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>PlistEdit Pro URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>plisteditpro</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>899</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10A254a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18A384</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1000</string>
	<key>DTXcodeBuild</key>
	<string>10A254a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>PlistEdit Pro 1.9, Copyright 2004-2018 Fat Cat Software.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>BITCrashExceptionApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open Text in PlistEdit Pro</string>
			</dict>
			<key>NSMessage</key>
			<string>openPlistText</string>
			<key>NSPortName</key>
			<string>PlistEdit Pro</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>PlistEditPro.sdef</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.fatcatsoftware.xcode-structure-definition</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcodeplugin</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSON</string>
			<key>UTTypeIdentifier</key>
			<string>public.json</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.xml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xhtml</string>
					<string>XHTML</string>
					<string>xml</string>
					<string>XML</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.apple.dt.document.script-suite-property-list</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scriptSuite</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.apple.dt.document.script-terminology-property-list</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scriptTerminology</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.plugin</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.apple.dt.dvt.plug-in</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dvtplugin</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
