<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUAddress</key>
	<dict>
		<key>DescriptorTypes</key>
		<array>
			<string>sign</string>
			<string>kpid</string>
			<string>bund</string>
			<string>psn </string>
		</array>
	</dict>
	<key>AUAlias</key>
	<dict>
		<key>CocoaClass</key>
		<string>CUAlias</string>
		<key>DescriptorTypes</key>
		<array>
			<string>alis</string>
		</array>
	</dict>
	<key>AUAppleEvent</key>
	<dict>
		<key>DescriptorTypes</key>
		<array>
			<string>aevt</string>
		</array>
	</dict>
	<key>AUBookmark</key>
	<dict>
		<key>DescriptorTypes</key>
		<array>
			<string>bmrk</string>
		</array>
	</dict>
	<key>AUBoolean</key>
	<dict>
		<key>CocoaClass</key>
		<string>NSNumber</string>
		<key>DescriptorTypes</key>
		<array>
			<string>bool</string>
		</array>
	</dict>
	<key>AUComparisonDescriptor</key>
	<dict>
		<key>DescriptorTypes</key>
		<array>
			<string>cmpd</string>
		</array>
	</dict>
	<key>AUData</key>
	<dict>
		<key>CocoaClass</key>
		<string>NSData</string>
		<key>DescriptorTypes</key>
		<array>
			<string>data</string>
		</array>
	</dict>
	<key>AUDate</key>
	<dict>
		<key>CocoaClass</key>
		<string>NSDate</string>
		<key>DescriptorTypes</key>
		<array>
			<string>ldt </string>
		</array>
	</dict>
	<key>AUFileURL</key>
	<dict>
		<key>CocoaClass</key>
		<string>NSURL</string>
		<key>DescriptorTypes</key>
		<array>
			<string>furl</string>
		</array>
	</dict>
	<key>AUList</key>
	<dict>
		<key>CocoaClass</key>
		<string>NSArray</string>
		<key>DescriptorTypes</key>
		<array>
			<string>list</string>
		</array>
	</dict>
	<key>AULogicalDescriptor</key>
	<dict>
		<key>DescriptorTypes</key>
		<array>
			<string>logi</string>
		</array>
	</dict>
	<key>AUNull</key>
	<dict>
		<key>CocoaClass</key>
		<string>NSNull</string>
		<key>DescriptorTypes</key>
		<array>
			<string>null</string>
		</array>
	</dict>
	<key>AUNumber</key>
	<dict>
		<key>CocoaClass</key>
		<string>NSNumber</string>
		<key>DescriptorTypes</key>
		<array>
			<string>shor</string>
			<string>long</string>
			<string>magn</string>
			<string>comp</string>
			<string>sing</string>
			<string>doub</string>
		</array>
	</dict>
	<key>AUObjectSpecifier</key>
	<dict>
		<key>CocoaClass</key>
		<string>CUOSAObject</string>
		<key>DescriptorTypes</key>
		<array>
			<string>obj </string>
		</array>
	</dict>
	<key>AURecord</key>
	<dict>
		<key>CocoaClass</key>
		<string>NSDictionary</string>
		<key>DescriptorTypes</key>
		<array>
			<string>reco</string>
		</array>
	</dict>
	<key>AUString</key>
	<dict>
		<key>CocoaClass</key>
		<string>NSString</string>
		<key>DescriptorTypes</key>
		<array>
			<string>TEXT</string>
			<string>utxt</string>
		</array>
	</dict>
	<key>AUType</key>
	<dict>
		<key>CocoaClass</key>
		<string>AUType</string>
		<key>DescriptorTypes</key>
		<array>
			<string>type</string>
			<string>enum</string>
			<string>prop</string>
			<string>keyw</string>
		</array>
	</dict>
</dict>
</plist>
